
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
#root {

  --box-shadow-global: box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #2c7ba2;



  /* Font Styling */
  color:aliceblue;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;


}


.box {
    background-color: white;
    color: #5a5966;
    width: 50vw;
    height: auto;
    border-radius: 15px;
    box-shadow: var(--box-shadow-global);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 1.5rem;

}



.inputBox, form {
  width: 90%;
  align-items: center;
  justify-items: center;
  
}
.descBox {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  /* justify-self: start; */
  width: 90%;
  height: 150px;
  align-self: center;
}

.descBox > textarea {
  height: 100%;
} 


input, select {
  height: 2rem;
  width: 100%;
  
  border-radius:5px;
  border-style: none #5a5966;
  border-style: solid;
  box-sizing: border-box;
  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


form > button {
  color: aliceblue;
  font-size: 1.2rem;
  background-color: #2c7ba2;
  height: 15%;
  width: 20%;
  border: none;
  border-radius: 15px;
  font-weight: 700;
}

label {
  font-weight: 600;
}

.appContainer {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  
  padding: 1.2rem;
  box-sizing: content-box;
  
}
.savedNotesContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: self-start;
  flex-direction: column;
  gap: 1.2rem;
  overflow: hidden;
}

.savedNote {
  border-radius: 15px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-self: baseline;
  background-color: aliceblue;

  color: #5a5966;
  box-shadow: var(--box-shadow-global);


}

.priorityColor {
  height: 100%;
  width: 20px;
  background-color: red;
  border-radius: 12px 0px 0px 12px;
}

.fontLayout > h2 {
  padding: 0;
  margin: 1rem 0 0 0;

}

.fontLayout {
  display: flex;
  padding-left: 1.2rem;
  flex-direction: column;
  width: 90%;
}

.fontLayout > p {
  
}