
html {

}
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
#root {

  --box-shadow-global: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --globalBgColor: #2c7ba2;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--globalBgColor);


  /* Font Styling */
  color:aliceblue;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;


}


.box {
    background-color: white;
    color: #5a5966;
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: var(--box-shadow-global);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 1.5rem;

}


h1 {
  font-family: MV Boli;
  font-size: xxx-large;
}


.inputBox, form {
  width: 90%;
  align-items: center;
  justify-items: center;
  
}
.descBox {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  /* justify-self: start; */
  width: 90%;
  height: 150px;
  align-self: center;
}

.descBox > textarea {
  height: 100%;
  border-radius: 12px;
  padding: .5rem;
} 


input, select {
  height: 2rem;
  width: 100%;
  
  border-radius:5px;
  border-style: none #5a5966;
  border-style: solid;
  box-sizing: border-box;
  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


form > button {
  color: aliceblue;
  font-size: 1.2rem;
  background-color: #2c7ba2;
  height: 15%;
  
  border: none;
  border-radius: 15px;
  font-weight: 700;
  padding: .5rem;
}

label {
  font-weight: 600;
}

.appContainer {
  
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.2rem;
  width: 100%;
  padding: 1.2rem;
  box-sizing: content-box;
  overflow: hidden;
  max-height: 90vh;
  
}
.savedNotesContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: self-start;
  flex-direction: column;
  gap: 1.2rem;
  overflow: hidden;
  overflow-y: visible;
}

.savedNote {
  border-radius: 15px;
  width: 92%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-self: baseline;
  background-color: aliceblue;
  align-self: flex-end;
  color: #5a5966;
  box-shadow: var(--box-shadow-global);


}

.priorityColor {
  height: 100%;
  width: 20px;
  /* background-color: red; */
  border-radius: 12px 0px 0px 12px;
}
.verticalCutOut {
  width:1% ;
  height: 100%;
  background-color: var(--globalBgColor);
  
}


.fontLayout > h2 {
  padding: 0;
  margin: 1rem 0 0 0;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;

}


.fontLayout > P {
  min-height:30px;
}

.fontLayout {
  display: flex;
  padding-left: 1.2rem;
  flex-direction: column;
  max-width: 75%;
  max-height: 300px;
  overflow: hidden;
  height: auto;
  overflow-wrap: break-word;
}