
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#root {
  display: flex;
  flex-direction: column;
  place-items: center center;
  height: 100%;
  background-color: #2c7ba2;



  /* Font Styling */
  color:aliceblue;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;


}


.box {
    background-color: white;
    color: #5a5966;
    width: 70vw;
    height: auto;
    border-radius: 15px;
    box-shadow: black 0px 10px px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 1.5rem;

}



.inputBox, form {
  width: 90%;
  align-items: center;
  justify-items: center;
  
}
.descBox {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  /* justify-self: start; */
  width: 90%;
  height: 150px;
  align-self: center;
}

.descBox > textarea {
  height: 100%;
} 


input, select {
  height: 2rem;
  width: 100%;
  
  border-radius:5px;
  border-style: none #5a5966;
  border-style: solid;
  box-sizing: border-box;
  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


form > button {
  color: aliceblue;
  font-size: 1.2rem;
  background-color: #2c7ba2;
  height: 15%;
  width: 20%;
  border: none;
  border-radius: 15px;
  font-weight: 700;
}

label {
  font-weight: 600;
}